<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/profile.css" type="text/css">
</head>

<body>
    <div class="container">
        {{>header}}
        <h1 class="display-3">User Search</h1>
        <form>
        <div class="form-group">
            <label for="profileSearch">Please input your ID</label>
            <input type="search" class="form-control" id="exampleInputEmail1" aria-describedby="profileHelp" placeholder="Enter ID">
            
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>